html, body{
    background-image: url("/images/bg3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
/*COMMON TEXT-BACKGROUND BOX WITH OPACITY, APPLICABLE FOR ALL SUBPAGES*/
.subsides-content{
    background: rgba(255,255,255,0.8);
}
