    /*LIST OF ONLINE USERS*/
    .users {
        background-color: #fff;
        border-radius: 3px;
    }
    /*BLINKING ICON ON THE ONLINE-USERS LIST*/
    .blink{
        color: green;
        animation: blink 2s linear infinite;
    }
    @keyframes blink{
        0%{opacity: 1;}
        50%{opacity: .2;}
        100%{opacity: 1;}
    }
